*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
  left: 0;
  transform: translate(0);
  background-color: #fff;
  z-index: 1;
}
.div.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.nav {
  display: flex;
  align-items: center;
}

.webstudio-head {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  text-decoration: none;
  /* margin-right: 76px;
  display: inline-block; */
}

.menu {
  /* display: flex; */
  gap: 40px;
  list-style-type: none;
  display: none;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 16px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}
.menu-open-btn {
  border: none;
  background: none;
}

.menu-close-btn {
  width: 24px;
  height: 24px;
  right: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgb(231, 233, 252, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.mob-social_media {
  display: flex;
  gap: 40px;
  list-style: none;
}
.mob-social {
  width: 40px;
  height: 40px;
}

.mob-a_social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-a_social:hover,
.mob-a_social:focus {
  background-color: #404bbf;
}
.svg_social-mob {
  /* fill: var(--IRIS, #4d5ae5); */
  fill: #f4f4fd;
}

.mob-studio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.mob-studio-link {
  color: #404bbf;
}
.mob-studio:hover,
.mob-studio:focus {
  color: #404bbf;
}

.mob-mailtel {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
  list-style: none;
}

.mob-mail {
  text-decoration: none;
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-mail:hover,
.mob-mail:focus {
  color: #404bbf;
}
.mob-contact {
  color: #404bbf;
}

.mob-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-button:hover,
.mob-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mob-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-mailtel-list:not(:last-child) {
  margin-bottom: 24px;
}
span {
  color: #2e2f42;
}

/* .studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
} */
.studio-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  display: block;
}

/* .studio:hover {
  color: #404bbf;
}
.studio:focus {
  color: #404bbf;
} */

.adress {
  font-style: normal;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  display: none;
}
.mailtel {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.mail {
  /* font-size: 16px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  list-style: disc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover {
  color: #404bbf;
}
.mail:focus {
  color: #404bbf;
}

.firstsection {
  background-color: #2e2f42;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-1x.jpg);
  /* max-width: 1440px;
  margin: 0 auto; */
  max-width: 320px;
  padding: 72px 0;
  margin: 56px auto 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .firstsection {
    padding: 72px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

.container {
  /* width: 1158px; */
  padding: 0 16px;
  margin: 0 auto;
}
.cont-team {
  padding: 0 28px;
}

.divnav {
  display: flex;
  width: 1158px;
  margin: 0 auto;
}
.title {
  /* font-size: 56px; */
  font-size: 36px;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* max-width: 496px; */
  max-width: 288px;
  /* margin: 0 auto; */
  margin: 0 auto 72px;
  margin-bottom: 48px;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.secondsection {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.titlesecond {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  list-style-type: none;
  flex-wrap: wrap;
}
.firstelement {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}
.strategy {
  /* font-weight: 500; */
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 36px;
  /* line-height: 1.2; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.par {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.thirdsection {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.ourteam {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mark {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  /* width: 100%; */
  display: block;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.strategy-third {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  /* letter-spacing: 0.02em; */
  letter-spacing: 0.08em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.par-third {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
}
.name {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  padding: 32px 0;
}
.social_media {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  align-items: center;
}
.social {
  width: 40px;
  height: 40px;
}
.a_social {
  /* width: 100%;
  height: 100%; */
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a_social:hover {
  background-color: #404bbf;
}
.a_social:focus {
  background-color: #404bbf;
}
.svg_social {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourthsection {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.app {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 24px; */
  /* row-gap: 48px; */
  gap: 48px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.bankingapp {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bankingapp:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.bankingapp:hover .p-cards {
  transform: translateY(0%);
}
.strategy-fourth {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.apps-fourth {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.par-fourth {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.image-forth {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.p-cards {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  background-color: #2e2f42;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding: 96px 0;
  /* width: 100%; */
}

ul {
  padding: 0;
  margin: 0;
}

.studiofooter {
  color: #f4f4fd;
}
.container-footer {
  /* width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.logo_p {
  /* margin-right: 120px; */
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  /* display: inline-block; */
  margin-bottom: 16px;
  display: block;
  font-style: normal;
  text-align: center;
}
.webstudiop {
  /*width: 264px; */
  width: 100%;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-right: 16px;
}
img {
  display: block;
  margin: 0 auto;
}
.p-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  font-style: normal;
  text-align: center;
}
.ul-footer {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
.li-footer {
  width: 40px;
  height: 40px;
}
.a-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-footer:hover {
  background-color: #31d0aa;
}
.a-footer:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
}
.form_footer {
  /* margin-left: 80px; */
}
.p_form {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.form {
  display: flex;
  /* gap: 24px; */
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.form_input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding-right: 24px;
}
.form_input placeholder {
  color: #ffffff;
}
.form_button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  /* padding: 8px 24px; */
}
.form_button:hover {
  background-color: #404bbf;
}

.form_button:focus {
  background-color: #404bbf;
}

.form_svg {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  display: none;
} */

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  /* width: 408px; */
  width: 288px;
  /* max-height: 623px; */
  border-radius: 4px;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) scale(1); */
  transform: translate(-50%, -50%);
  /* min-height: 584px; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
.button_modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_modal:hover,
.button_modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.form_svg_close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: 8px;
  height: 8px; */
}

.p_modal {
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  /* width: 360px; */
}
.div_form_modal {
  position: relative;
  margin-bottom: 8px;
}

.label_modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.div_input {
  position: relative;
}
.input_modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input_modal:focus,
.input_modal:hover {
  border-color: #4d5ae5;
}
.input_svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div_input input:focus + svg {
  fill: #4d5ae5;
}
.coment {
  margin-bottom: 16px;
}
.coment_text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.coment_text::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.coment_text:hover,
.coment_text:focus {
  border-color: #4d5ae5;
}
.check {
  margin-bottom: 24px;
}

.label_check {
  /* font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99; */
  display: flex;
  align-items: center;
}
.checkbox-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.label_span {
  min-width: 16px;
  min-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.check input:checked + .label_check .label_span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.label_privacy {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration-line: underline;
}
.send_button {
  display: block;
  margin: 24px auto;
  padding: 16px 32px;
  min-width: 169px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-items: flex-start;
  gap: 10px; */
}

.send_button:hover,
.send_button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 288px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 16px;
  }
  .titlesecond {
    /* width: calc(100% - 24px / 4); */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .firstelement {
    max-width: 356px;
  }
  .strategy {
    text-align: left;
  }

  .team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .app {
    column-gap: 24px;
  }
  .bankingapp {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  /* .app {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 24px 72px;
  } */

  .container-footer {
    /* justify-content: flex-start;
    align-items: baseline;
    column-gap: 24px; */
    /* min-width: 552px; */
    flex-direction: row;
    /* justify-content: left; */
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .form_footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin-left: 80px; */
  }
  .webstudio {
    text-align: left;
    padding-left: 15px;
  }
  .webstudiop {
    width: 264px;
  }

  .p-footer {
    text-align: left;
  }
  .p_form {
    text-align: left;
  }
  .form {
    /* flex-wrap: nowrap;
    justify-content: flex-start; */
    flex-direction: row;
    gap: 24px;
  }
  .logo_p {
    text-align: left;
  }
  .header {
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    z-index: auto;
    position: absolute;
  }
  .mob-menu {
    display: none;
  }
  .webstudio-head {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
  }
  .firstsection {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab-1x.jpg);
    max-width: 768px;
    padding: 112px 0;
    margin: 72px auto 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .firstsection {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-2x.jpg);
    }
  }
  .title {
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 36px;
  }
  .adress {
    font-style: normal;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
  }
  .studio:hover {
    color: #404bbf;
  }
  .studio:focus {
    color: #404bbf;
  }
  .mail {
    padding-bottom: 12px;
  }
  .mailtel {
    flex-wrap: wrap;
    gap: 12px;
    display: block;
  }
  .menu-open-btn {
    display: none;
  }

  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
}
.team {
  row-gap: 64px;
  column-gap: 24px;
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .titlesecond {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .firstelement {
    max-width: 264px;
  }
  .strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .par {
    font-weight: 400;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .mark {
    max-width: 1128px;
  }
  .team {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .bankingapp {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  .footer {
    padding: 100px 0;
  }

  .container-footer {
    flex-wrap: nowrap;
    gap: 0;
  }

  .logo_p {
    margin-right: 120px;
  }
  .webstudio-head {
    margin-right: 76px;
  }
  .adress {
    padding: 24px 0px;
  }
  .firstsection {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .firstsection {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .title {
    margin: 0 auto 48px;
  }
  .mailtel {
    display: flex;
    gap: 40px;
    list-style-type: none;
  }
}
